<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.png" %>
	</div>

	<div id="content">
		<h1>Hello, I'm Alex Selivanov</h1>
		<p>Student</p>
		<p>Interests: IT, programming, movies, TV shows, books and music.</p>
	</div>
</div>